
/*========== BASE ==========*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color-send: #0f4c75;
    --title-color: #F3F1F1;
    --text-color: #D1C7C8;
    --body-color: #1b262c;
    --container-color: #3282b8;
}

/*========== Button Dark/Light ==========*/
.change-theme {
    position: absolute;
    right: 1.5rem;
    top: 2.2rem;
    display: flex;
    color: var(--title-color);
    font-size: 2rem;
    cursor: pointer;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;   
}
h1,h2,h3,ul,p{
    margin: 0;  
}

h1,h2,h3{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}



/*// html {
//     color: #222;
//     font-size: 62.5%;
//     line-height: 1.4;
//     box-sizing: border-box;
// }

// *,
// *:before,
// *:after {
//     box-sizing: inherit;
// }

// body {
//     font-size: 1.6rem;
//     background-color: #222;
// }

// p {
//     font-size: 2rem;
// }

// .contenedor {
//     max-width: 120rem;
//     width: 95%;
//     margin: 0 auto;
// }

// a {
//     text-decoration: none;
// }

// img {
//     max-width: 100%;
// }

// h1,
// h2,
// h3 {
//     margin: 0;
//     color: wheat;
// }

// h1 {
//     font-size: 4rem;
//     // font-weight: $black;
// }

// h2 {
//     font-size: 3.6rem;
// }

// h3 {
//     font-size: 3rem;
// }*/